*{
font-family: 'Anton', sans-serif;
}

#intro {
    height: 800px;
}

#intro {
    background: url(/images/h_img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#logo {
    margin-top: 100px;
    float:center;
}
#welcome {
    padding: 20px;
}
.card {
    text-align: center;
}
#services {
    background: url(/images/s_image.jpg) no-repeat center center;
    height: 450px;
    background-position: center center;
    color: white;
    padding-top: 60px;
    background-size: auto;

}
#about {
    padding-top: 50px;
}
#whatWeDo {
    text-align: center;
    padding-top: 20px;
}
h2 {
    text-align: center;
}
#bailey-image {
    border-style: solid;
    border-color: blue;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#bailey-text {
    display: none;
}
#bailey-image,
#jim-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#jim-text {
    display: none;
}
#burned-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#burned-text {
    display: none;
}
#age-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 60px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#age-text {
    display: none;
}
#elexa-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#elexa-text {
    display: none;
}
#crystals-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#crystals-text {
    display: none;
}
#ontario-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#ontario-text {
    display: none;
}
#dark-image {
    border-style: solid;
    border-color:blue;
    padding-bottom: 80px;
    margin: 15px;
    vertical-align: text-top;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
#dark-text {
    display: none;
}
#contact {
    padding-top: 40px;
}
.form-control::placeholder {
    color:black;
    opacity: 1;
}
.form-control {
    color:black;
}
.md-form label{
    color:gold;
}
#footer {
    padding-top:90px;
}

#contactForm {
    background-image: url(/images/c_image.jpg)no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}
footer>:hover{
    color:gold;
}
.card-deck>:hover{
    background-color:gold;
}